[submodule "nuttx"]
	path = nuttx
	url = https://github.com/Ana-Mirza/nuttx
	branch = hectorwatch
[submodule "nuttx-apps"]
	path = nuttx-apps
	url = https://github.com/Ana-Mirza/nuttx-apps
	branch = hectorwatch
